{% extends "layout.html.twig" %}

{% block content %}
    <p>Hello {{ name }}</p>
    {# path('nom_de_la_route') génère le chemin correspondant a la route demander#}
    <p><a href="{{ path('hello_world') }}">Vars la page hello world </a></p>
{% endblock %}