<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title ">Categories</h3>
    </div>
    <div class="panel-body">
        {% for category in categories %}
            <p><a href="{{ path('category', { category : category.name }) }}">{{ category.name }}</a></p>
        {% endfor %}
    </div>
</div>