{% extends "layout.html.twig" %}

{% block content %}
    <form action="" method="post">
        Prénom : <input type="text" name="prenom">
        <input type="submit" value="Enregistrer">
    </form>
{% endblock %}