{% extends "layout.html.twig" %}

{% block content %}
    <form action="" method="post">
        Prénom : <input type="text" name="prenom" value="{{ abonne.prenom }}">
        <input type="submit" value="Modifier">
    </form>
{% endblock %}